/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/villa-images
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/app/dewataapp-41525-firebase-adminsdk-fbsvc-b02f07e3f1.json
